**Question 1: Variables and Data Types**

In [ ]:
#(a) Declare the following variables and print their data types using type():
name = "Sajjadur Rahman"
age = 24
gpa = 3.75
is_student = True

print(type(name))
print(type(age))
print(type(gpa))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# type conversions and print the results:
# String to integer
num_str = "123"
num_int = int(num_str)
print(num_int)

# Integer to string
num = 456
num_str2 = str(num)
print(num_str2)

# Float to integer
float_num = 3.99
int_num = int(float_num)
print(int_num)
# Explanation: The decimal part is truncated (not rounded)

# Integers to boolean
print(bool(1))  # True
print(bool(0))  # False

123
456
3
True
False

**Question 2: Operators**

In [ ]:
a = 17
b = 5

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

print("Floor Division:", a // b)
print("Modulus:", a % b)

print("Power:", a ** b)

#Comparison results
print("17 > 5:", a > b)
print("17 == 5:", a == b)
print("17 != 5:", a != b)

Addition: 22
Subtraction: 12
Multiplication: 85
Division: 3.4
Floor Division: 3
Modulus: 2
Power: 1419857
17 > 5: True
17 == 5: False
17 != 5: True

**Question 3: String Manipulation**

In [ ]:
name = "python programming"

print(name.upper())
print(name.title())
print(name.replace("programming", "language"))
print(len(name))

PYTHON PROGRAMMING
Python Programming
python language
18

In [ ]:
name = "Sajjadur Rahman"
age = 24
gpa = 3.74

#Using an f-string
print(f"My name is {name}, I am {age} years old, and my GPA is {gpa}")

My name is Sajjadur Rahman, I am 24 years old, and my GPA is 3.74

**Question 4: Conditional Statements  Intermediate**

In [ ]:
# Age Checker
age = int(input("Enter your age: "))

if age < 0:
    print("Invalid age")
elif age > 18:
    print("You are an adult")
elif 13 <= age <= 17:
    print("You are a teenager")
else:
    print("You are a child")

Enter your age: 4
You are a child

In [ ]:
#Even / Odd using a ternary operator in a single line:
num = int(input("Enter a number: "))
print("This is an even number" if num % 2 == 0  else "This is an odd number")

Enter a number: 12
This is an even number

In [ ]:
#Grade Calculator
mark=int(input("Enter your mark:"))

if mark < 0 or mark > 100:
  result="Invalid mark"
elif mark >= 90 and mark <= 100:
  result="A+"
elif mark >= 80 and mark <= 89:
  result="A"
elif mark >= 70 and mark <= 79:
  result="B"
elif mark >= 60 and mark <= 69:
  result="C"
elif mark >= 50 and mark <= 59:
  result="D"
else:
  result="F __Failed"

print(f"Your grade is {result}")

Enter your mark:60
Your grade is C

In [ ]:
# Login System
correct_username = "admin"
correct_password = "1234"

attempts = 0
max_attempts = 3 #counter

while attempts < max_attempts:
    username = input("Enter username: ")
    password = input("Enter password: ")

    if username == correct_username and password == correct_password:
        print(f"Login successful! Welcome, {username}.")
        break
    elif username == correct_username and password != correct_password:
        print("Incorrect password. Try again.")
    else:
        print("User not found.")

    attempts = attempts+1

if attempts == max_attempts:
    print("Account locked.")

**Question 5: ATM Simulation**

In [ ]:
#an ATM program with the following variables: pinNumber, balance, and request:
pinNumber = 1111
balance = 5000

pin = int(input("Enter your PIN: "))

if pin == pinNumber:
    request = int(input("Enter withdrawal amount: "))

    if request > 500 and request <= balance:
        balance = balance - request
        print("Withdrawal successful.")
        print(f"Remaining balance:{balance}")
    elif request > balance:
        print("Insufficient balance.")
    else:
        print("Withdrawal amount must be greater than 500.")
else:
    print("Wrong PIN.")

In [ ]:
#an attempts counter
pinNumber = 1111
balance = 5000
attempts = 3 #counter

while attempts > 0:
    pin = int(input("Enter your PIN: "))

    if pin == pinNumber:
        request = int(input("Enter withdrawal amount: "))

        if request > 500 and request <= balance:
            balance = balance - request
            print("Withdrawal successful.")
            print(f"Remaining balance: {balance}")
        elif request > balance:
            print("Insufficient balance.")
        else:
            print("Withdrawal amount must be greater than 500.")
        break
    else:
        attempts = attempts - 1
        print(f"Wrong pin. Attempts remaining: {attempts}")

        if attempts == 0:
            print("Card blocked.")

In [ ]:
#Login System before the ATM:
correct_username = "admin"
correct_password = "1234"

is_active = True #flag

username = input("Enter username: ")
password = input("Enter password: ")

if username=="admin" and password=="1234" and is_active:
  print("Login successful. Proceed to ATM pin check...")
else:
  print("Account is disabled.")

**Question 6: Basic Loops**

**For loop**

In [ ]:
#Print numbers from 1 to 20
for i in range(1, 21):
    print(i)

In [ ]:
#Multiplication table of 7
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

In [ ]:
#Sum of numbers from 1 to 100
total = 0
for i in range(1, 101):
    total = total + i
print(f"Sum of numbers from 1 to 100: {total}")

Sum of numbers from 1 to 100: 5050

In [ ]:
#Even numbers between 1 and 50
for i in range(2, 51, 2):
    print(i)

In [ ]:
#Fruits list with position
fruits = ['apple', 'banana', 'cherry', 'mango', 'grape']
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

**While loop**

In [ ]:
#Print numbers from 10 down to 1
i = 10
while i >= 1:
    print(i)
    i = i - 1

In [ ]:
#Sum of positive numbers until 0 or negative is entered
total = 0
while True:
    num = int(input("Enter a number: "))
    if num <= 0:
        break
    total = total + num
print(f"The total sum of all numbers: {total}")

In [ ]:
#Countdown with Blast off
count = 10
while count >= 0:
    if count == 0:
        print("Blast off!")
    else:
        print(count)
    count = count - 1

In [ ]:
#First 10 multiples of 6
i = 1
while i <= 10:
    print(6 * i)
    i = i + 1